@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: white;
}

.bg-grid-pattern {
  background-size: 50px 50px;
  background-image: 
    linear-gradient(to right, #1a1a1a 1px, transparent 1px),
    linear-gradient(to bottom, #1a1a1a 1px, transparent 1px);
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}